<!DOCTYPE html>
<html>
<head>
	<title>MEAN DEMO</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
  <script type="text/javascript" src="bower_components/angular/angular.js"> </script>
  <script type="text/javascript" src="scripts/app.js"></script>

</head>
<body ng-app="MEAN">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MEAN DEMO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#add">Add</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    <br>
    <br>
    <br>
 <br>
    <br>
    <br>
    
      <div class="starter-template" ng-controller="MEANCTRL">
        <table class="table">
        <tbody>
          <tr   ng-repeat="(key,value) in users">
          <td>{{ :: value.name }}</td>
           <td>{{ :: value.lastname }}</td>

          </tr>

        </tbody>
            

        </table>
      </div>
    </div><!-- /.container -->
</body>
</html>